.categories-container {
    background-color: beige;
    padding: 10px;
 .category-container {
    background-color: pink;
    padding: 20px;
 }
   .category-body-container {
    background-color:  rgb(90, 9, 90);
    padding: 30px;
   }
}